@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1c1917;
}

h1, h2, h3 {
  font-family: var(--sans);
  margin: 0;
}

p {
  margin: 0;
}
